<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link href="../css/template.css" rel="stylesheet">
    <link href="../node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  </head>
  <body class="bg-body-tertiary">

    <nav class="navbar navbar-expand-xl sticky-top bg-white border-bottom shadow-sm py-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../image/compound-logo.svg" alt="Compound" width="180">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex d-lg-none">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Borrow</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Farm</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Claim</a></li>
                </ul>
                <div class="d-none d-xl-flex mx-auto text-center">
                    <div class="px-5">
                        <div class="fw-semibold">Total collateral</div> 
                        <div class="text-body-tertiary">$543.12M</div>
                    </div>
                    <div class="px-5">
                        <div class="fw-semibold">Total borrowing</div> 
                        <div class="text-body-tertiary">$345.78M</div>
                    </div>
                    <div class="px-5">
                        <div class="fw-semibold">Total farming</div> 
                        <div class="text-body-tertiary">$480.78M</div>
                    </div>
                </div>
                <div class="d-none d-lg-block">
                    <button class="btn btn-primary text-white shadow-sm" type="button"><i class="bi bi-wallet me-1"></i> 0x23....46ac</button>
                    <button class="btn btn-primary text-white shadow-sm" type="button"><i class="bi bi-power"></i></button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid px-4" style="margin-top: 3rem;">
        
        <div class="row">
            <div class="col-2 d-none d-xl-flex flex-column">

                <div class="sticky-top-menu">
                    <button id="network-select" type="button" class="btn btn-light bg-body btn-lg border shadow w-100 rounded-5" style="margin-bottom: 2rem">
                        <div class="d-flex justify-content-around fs-5">
                            <img class="icon d-none d-xl-inline" src="../image/Ethereum.svg" alt="network">
                            <div class="">Ethereum</div>
                            <div class="chevron"><i class="bi bi-chevron-down"></i></div>
                        </div>
                    </button>

                    <div class="bg-body px-3 py-4 border rounded-4 shadow" style="margin-bottom: 2.5rem;">
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item"><a class="nav-link" href="#/"><i class="bi bi-box-arrow-down me-1"></i> Borrow</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#/farm"><i class="bi bi-flower2 me-1"></i> Farm</a></li>
                            <li class="nav-item"><a class="nav-link" href="#/claim"><i class="bi bi-stars me-1"></i> Claim</a></li>
                        </ul>
                    </div>

                                                            
                    <div class="d-flex justify-content-around fs-4 text-primary">
                        <a href="#"><i class="bi bi-github"></i></a>
                        <a href="#"><i class="bi bi-discord"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-medium"></i></a>
                    </div>
                </div>

            </div>


            <div class="col-12 col-xl-8">

                <div class="bg-body p-3 rounded border shadow mb-4">
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>

            </div>

            <div class="col-12 col-xl-2">
                <div class="sticky-top-menu bg-body p-4 border rounded shadow text-center rounded-4">
                    <h4 class="mb-4">Your account</h4>
                    <div class="d-flex justify-content-between mb-3 small">
                        <div class="">
                            <div class="fw-semibold">Collateral</div> 
                            <div class="text-body-secondary">$3.12K</div>
                        </div>
                        <div class="">
                            <div class="fw-semibold">Borrowing</div> 
                            <div class="text-body-secondary">$1.78K</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-2 small">
                        <div class="">
                            <div class="fw-semibold">Farming</div> 
                            <div class="text-body-secondary">$2.78K</div>
                        </div>
                        <div class="">
                            <div class="fw-semibold text-primary">Rewards</div> 
                            <div>12.898 <span class="" style="font-size: 75%">COMP</span></div>
                        </div>
                    </div>
                <div>



            </div>
        </div>
    </div>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>